body, html {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

body * {
  font-family: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.login-container {
  background: url(./Background-Login-Desk.svg) bottom center no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  max-width: 85%;
  display: block;
  border-radius: 12px;
  background: white;
  box-shadow: 0 12px 12px rgba(0,0,0,.2);
  padding: 2rem;
  width: 434px;
  text-align: center;

}

.login-header {
  text-align: center;
  margin-bottom: 3rem;
}

.login-header img {
  width: 30px;
  height: auto;
  display: inline-block;
}

#error-message {
  display: none;
  white-space: break-spaces;
}

.alert.alert-danger {
    display: block;
    background: #ffdddd;
    padding: 1rem;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 13px;
    border: 2px solid #f3d4d4;
}

.form-group {
  margin-bottom: 2rem;
  justify-content: space-between;
  position: relative;
}
.form-group label {
  display: block;
  color: #3a3a3a;
  margin: 0 0 4px 0;
  margin-bottom: 1rem;
}

.form-group input[type="text"], .form-group input[type="password"], .form-group input[type="email"] {
  padding: 15px 12px;
  border-radius: 10px;
  font-family: inherit;
  width: 100%;
  border: 0;
  outline: 0 none;
  display: block;
  color: #9a9a9a;
  border: 1px solid #D9DEE2;
  padding-left:30px;
}
.icon-eye {
  background: url(./visibility-on.svg) no-repeat scroll 330px 14.8px !important;
  flex : auto 1 1;
  padding-left: 20px;
}

.icon-eye-no {
  background: url(./visibility-off.svg) no-repeat scroll 329.2px 11px;
  flex : auto 1 1;
  padding-left: 20px;
}

.label-name {
  text-align: left;
}

.form-group input:focus {
  outline: 0 none;
  border: 1px solid rgb(52, 128, 193);
}
.check {
  opacity: 0;
  z-index: 1000;
  position: absolute;
  top: 32px;
  right: 0;
  width: 50px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.btn {
  margin: 0px;
  letter-spacing: 0.025em;
  font-weight: 400;
  cursor: pointer;
  border-radius: 6px;
  padding: 0.9rem 2rem;
  border: 0;
  font-size: 1em;
  background: rgb(52, 128, 193);
  color: white;
}

.btn#btn-google {
  width: 100%;
  background: #cf4332;
}

.btn:hover {
  box-shadow: rgb(0 0 0 / 4%) 0px 1px 1px, rgb(0 0 0 / 4%) 0px 2px 2px, rgb(0 0 0 / 4%) 0px 4px 4px, rgb(0 0 0 / 4%) 0px 8px 8px, rgb(0 0 0 / 4%) 0px 16px 16px;
  transition: .2s all ease-out;
}

.btn-wrapper {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.login-google-wrapper {
  position: relative;
  padding-top: 2rem;
}
.login-google-wrapper:before {
  top: 0;
   left: 50%;
  margin-left: -35px;
  width: 70px;
  content: "";
  display: inline-block;
  position: absolute;
  height: 1px;
  background: #ccc;
}

.btn-wrapper .btn {
  width: 48%;
  height: 58px;
}

.btn#btn-signup {
  background: white;
  border: 1px solid #DDD;
  color: #0a0a0a;
}

@media only screen and (max-width: 600px) {
  .login-container {
    background: url(./Background-Login-Mobile.svg);

  }
  .btn {
    font-size: 15px !important;
    padding: 0 !important;
    font-weight: 400 !important;
  }

  .icon-eye {
    background: url(./visibility-on.svg) no-repeat scroll 250px 15px !important;

  }
}

@media screen and (max-width: 399px) {
  .icon-eye {
    background: url(./visibility-on.svg) no-repeat scroll 210px 15px !important;
  }
  .icon-eye-no {
    background: url(./visibility-off.svg) no-repeat scroll 209.5px 11.1px !important;
  }
}
